body
{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: medium;
    font-family: Impact;
    color: white;
}

nav p
{
    display: inline-block;
}

.separateur
{
    opacity: 0.4;
    box-shadow: 5px 5px 15px white inset;
    border: 3px white solid;
    border-radius: 20px;
    height: 15px;
}

section aside
{
    border: 3px solid red;
    display: inline-block;
    text-align: right;
}

section section
{
    border: 3px solid white;
    display: inline-block;
}

a
{
    color: white;
}

h1, h2
{
    text-align: center;
    text-decoration: underline;
}

h2:hover
       {
	   color: black;
	   text-decoration: underline;
       }

a:focus
      {
	  color: yellow;
	  background-color: black;
      }