body
{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: medium;
    font-family: Impact;
    color: white;
}

nav
{
    text-align: center;
}

nav p
{
    display: block;
}

nav a
{
    text-decoration: none;
}

.navbutton
{
    display: inline-block;
    text-decoration: none;
    border: 5px groove gold;
    border-radius: 10px;
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color: gold;
    text-align: center;
}


nav a:visited
	       {
		   background-color: black;
		   color: gold;
	       }

.separateur
{
    opacity: 0.4;
    box-shadow: 5px 5px 15px white inset;
    border: 3px white solid;
    border-radius: 20px;
    height: 15px;
}

.dates
{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.infos
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
}

.gotoTop, header
{
    text-align: center;
}

a
{
    color: white;
}

h1, h2
{
    text-align: center;
    text-decoration: underline;
}

h2
{
    padding-bottom: 20px;
}

h2:hover
       {
	   color: gold;
	   text-decoration: underline;
       }

tr:hover
       {
	   color: gold;
	   background-color: black;
	   border: 1px solid black;
       }

table
{
    border-collapse: collapse;
}